// Define a mixin for horizontal margins
@mixin horizontal-margin($value) {
  margin-left: $value;
  margin-right: $value;
}

// Use the mixin for body and div
body {
  @include horizontal-margin(10px);
}

div {
  @include horizontal-margin(15px);
}